.header {
  justify-content: center;
  margin-top: .5rem;
  padding-left: 10px;
  margin-bottom: 10px;
}

.header ul li {
  list-style: none;
  margin: 0;
  padding: .5rem 1rem;
  border-radius: 3px;
}

.form-apper-panel {
  width: 130px;
  justify-content:space-between;
}

.form-button__search {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #1890FF;
  border: none;
  background-color: #ffffff;
}


.form-button__rated {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  border: none;
  background-color: #ffffff;
}

